<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!--
				v-if:根据真假切换元素的显示状态，通过删除标签修改显示状态
			-->
			<input @click="toggleIsShow" type="button" value="切换" />
			<p v-if="isShow">Fondant</p>
			<p v-show="isShow">Fondant</p>
			<h2 v-if="temperature>=35">Fondant</h2>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				isShow: false,
				temperature: 200
			},
			methods: {
				toggleIsShow: function() {
					this.isShow = !this.isShow
				}
			}

		})
	</script>
</html>
